<?xml version='1.1' encoding='UTF-8'?>
<io.jenkins.plugins.casc.CasCGlobalConfig plugin="configuration-as-code@1429.v09b_044a_c93de">
  <configurationPath>/var/lib/jenkins/casc.yaml</configurationPath>
</io.jenkins.plugins.casc.CasCGlobalConfig>